

li a {
	border-bottom: #222 1px solid; !important
}

blockquote.long
{
box-shadow: inset 3px 0 0 0 #2222222;
padding-left: 23px;
}

blockquote
{
box-shadow: inset 3px 0 0 0 #222222;
padding-left: 23px;
color: #717171
}


.excerpt p:last-child::after {
    content: '..';
}
.lead-small
{
  font-size: 18px; !important
  line-height: 32px; !important
  color: red;
}
.zoom:hover{
	cursor: zoom-in;
}
figure a  {
   text-decoration: none !important;
   border-bottom:0px !important;
}

.featherlight-content img:hover
{
	cursor: zoom-out;
}

h2
{
  font-size: 20px; !important
  color: red;

}

@media (min-width: 768px) {

h2
{
  font-size: 28px;

}

.lead-small
{
  font-size: 26px; !important
  line-height: 40px; !important
  color: red;

 }
