li a {
	border-bottom: #222 1px solid; !important
}

blockquote.long
{
box-shadow: inset 3px 0 0 0 rgba(0, 0, 0, 0.84);
padding-left: 23px;
font-family: "courier";
}
.excerpt p:last-child::after {
    content: '..';
}
.lead-small
{
  font-size: 18px; !important
  line-height: 32px; !important
  color: red;
}



@media (min-width: 768px) {

h2
{
  font-size: 28px;

}

.lead-small
{
  font-size: 26px; !important
  line-height: 40px; !important
  color: red;
}

 }