
<!--.section-->
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="mt-5">
        <a href="https://www.twitter.com/ollee">Follow me on Twitter</a>
      </p>
  </div></div>
  
<div class="row mt-5">
  <div class="col-sm-10">
    <p>
<strong>Oliver Palmer</strong> is a consultant working with enterprise scale firms to embed the disciplines of experimentation and data-driven optimisation. <a href="/about">Learn&nbsp;more</a>.</a></p> 
</div>
</div>


<!--/.section-->
