
	<!--modals before footer-->
	<!--.footer-->
	<footer class="footer text-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6 order-2 order-md-1">
						<div class="subsection-lg">

							<p>
																	&copy; {{ "now" | date: "%Y" }} Oliver Palmer
							</p>



						</div>

				</div>

				<div class="col-md-6 text-md-right order-1 order-md-2">
						<div class="subsection-lg">
									<ul class="navbar-nav">

										<!--add class="active" to current page link-->

										<!-- check the url for the desired uri part -->
										{% assign uri_parts = page.url | split: '/' %}
										{% for uri_part in uri_parts %}
										{% assign part = uri_part | remove: '/' | remove: '.html' | downcase %}

										{% if part == 'our-work' %}
										{% assign page_is = part %}
										{% elsif part == 'services' %}
										{% assign page_is = part %}
										{% elsif part == 'blog' %}
										{% assign page_is = part %}
										{% elsif part == 'about' %}
										{% assign page_is = part %}
										{% endif %}
										{% endfor %}
										<!-- end checking the url -->
										<li class="nav-item"><a class="nav-link hover-underline {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
										</li>
										<li class="nav-item"><a class="nav-link hover-underline {% if page_is == 'about' %}active{% endif %}" href="/about">About</a>
										</li>
										<li class="nav-item"><a class="nav-link hover-underline {% if page_is == 'services' %}active{% endif %}" href="/services">Services</a>
										</li>
										<li class="nav-item"><a class="nav-link hover-underline {% if page_is == 'blog' %}active{% endif %}" href="/blog">Blog</a>
										</li>


									</ul>


						</div>
</div>



		</footer>







	<!--/.footer-->
	<!--Scripts-->

	<!-- Animate on scroll -->
	<link rel="stylesheet" href="/js/aos.js" />
	<!--jQuery-->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<!-- Image zoom plugin -->
	<script src="/js/featherlight.js" type="text/javascript" charset="utf-8"></script>
	<!--Framework-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!--Styleguide-->
	<script src="/js/styleguide.js"></script>
	<!--Others-->
	<script src="/js/main.js"></script>
	<!-- Instant page -->
	<script src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU"></script>
</body>

</html>
