{::nomarkdown}
{% capture imagePath %}{{ include.name }}{% endcapture %}
{% if include.caption %}
</div></div></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="container--mobile-full-width">
        <img class="img-full-width" src="/img/{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %}>
      </div>
    </div>
    <div class="col-md-6">
      <figcaption>
      <p class="caption pr-3 pr-md-0">{{ include.caption }}</p>
      </figcaption>
    </div>
  </div>
  <br>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-10">

        {% else %}
      </div></div></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="container--mobile-full-width">
              <img class="img-full-width" src="/img/{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %}>
            </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
            <div class="col-md-10">

{% endif %}
{:/nomarkdown}
