{::nomarkdown}

{% capture imagePath %}{{ include.name }}{% endcapture %}
{% if include.caption %}
</div>
</div>
</div>
<div class="container container--wider">
	<a href="/img/{{ imagePath }}" data-featherlight="image">
	<figure><img class="img-full-width zoom" src="/img/{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %}>
		</a>
		<div class="row">
			<div class="col-lg-10">
				<figcaption>{{ include.caption }}</figcaption>
			</div>
		</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10">
			{% else %}
		</div>
	</div>
</div>
<div class="container container--wider">



	<figure>
		<a href="/img/{{ imagePath }}" data-featherlight="image">
		<img class="img-full-width zoom" src="/img/{{ imagePath }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %}>
		<div class="row"></div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-10">
			{% endif %}

{:/nomarkdown}
