{% include header.html %}
<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				{% if page.hero-header %}
				<h1>{{ page.hero-header }}</h1>
				{% endif %}
				{% if page.hero-subhead %}
				<p class="hero-text">{{ page.hero-subhead }}</p>
				{% endif %}
				{% if page.hero-p %}
				<p>{{ page.hero-p }}</p>
				{% endif %}
				{% if page.hero-cta %}
				<a class="btn btn-primary btn-lg mt-1" href="/services/strategy-session" id="topStrategySession">{{ page.hero-cta }}</a>
				{% endif %}
				{% if page.cta-eyebrow %}
				<p class="small">{{ page.eyebrow }}</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container container--wider">
		<figure>
			<img class="img-full-width" src="img/oliver-palmer-at-desk.jpg" alt="">
			<div class="row">
				<div class="col-lg-10">


					<figcaption>Photo: <a style="color: #aaa; border-bottom: 1px #aaa" href="http://www.nabeelscamera.com.au">Nabeel Khan</a>. He’s a <a style="color: #aaa; border-bottom: 1px #aaa" href="http://www.nabeelscamera.com.au">Melbourne wedding
							photographer</a> and a good bloke.</figcaption>
				</div>
			</div>
		</figure>
	</div>
	<div class="container mt-5">
		<div class="row">



			<div class="col-lg-9">
				<p>Every website has a goal.</p>
				<p>
					It might be to make sales, capture leads, or to display advertising.
				</p>
				<p>
					I use research, design and experimentation to get more of your visitors doing the things that that you <em>want</em> them to do (like filling out a form, buying something, or viewing another article).
				</p>

				<blockquote class="text-center my-5">
					<h2 class="smaller mb-2">"Ollee has helped us to improve our site immensely—not just by boosting conversion but also by identifying which areas are worth investing in"</h2>
					<p class="text-xs">John Ungar, Digital CX Manager at Kmart Australia</p>
				</blockquote>
				<p>
					I ran my first A/B test back in 2008 while working for a London law firm. They were advertising on PPC for plaintiffs in class action suits for people with Mesothelioma (that's absestos cancer to you and me) and spending upwards of £100 per
					click.
				</p>
				<p>
					We deployed Google Webite Optimizer and found with a handful of key experiments we were able to halve their cost of 'customer' acquisition.
				</p>
				<p>
					I was hooked.
				</p>
				<p>
					Since then, I've worked with The Telegraph, Kmart, Nissan and Teachers's Mutual Bank (with <a href="http://www.akqa.com">AKQA</a>), Australian Super (with <a href="http://www.lens10.com.au">Lens10</a>) and plenty of others to run both managed
					A/B testing and optimisation programs and built up in-house capability.
				</p>
				<blockquote class="text-center my-5">
					<h2 class="smaller mb-2">"He will make a demonstrable difference to your process and your bottom line"</h2>
					<p class="text-xs">Jane Austin, Director of Product Design, Babylon Health</p>
				</blockquote>

				<p>
					I organise the conversion optimisation meet-up <a href="https://meetup.com/CRO-Melbourne/">CRO Melbourne</a>, have spoken at <a href="https://conversionconference.co.uk/">Conversion Conference London</a> and <a href="http://sydney.measurecamp.org/">Measure
						Camp Sydney</a> and had my work featured on the <a href="https://blog.optimizely.com/2016/07/13/how-does-page-load-time-impact-engagement/">Optimizely blog</a>.
				</p>

						<img class="img-fluid mt-3" src="/img/about/tools-certfications.svg">


				<!--
<h2 class="mt-5">I believe in</h2>







<h3>Simplicity</h3>
<p>
Easy to use, simple, clear and elegant design is important both as a process and an end result.
</p>
<p>
Stripping back a design to its most basic essentials lays our thinking and our process bare, remedies fuzziness and cloudy thinking.
</p>

<h3 class="mt-4">Evidence based design</h2>
	<p>
		Most designs are guesses, copies of their competitors, reflections of their own cultural biases... which is why users find them difficult and confusing, resulting in high bounce rates, low NPS scores and dwindling conversion.</p>
		<p>

Design patterns and interactions should be centred around observations (qualitative and quantitative) about how users interact and engage with them.
</p>
<h3 class="mt-4"> Iteration</h2>
<p>
	We won’t get it right the first time.
</p>
<p>
Just as natural evolution allows creatures to adapt and change and prosper in their environment, if we continue listening to your customers and adapting and improving your website, we'll eventually achieve something (approaching) perfection.

</p>
</div>

-->
			</div>
		</div>


	</div>
	{% include book.html %}


	<!--/.section-->
</div>
<!--modals before footer-->
{% include footer.html %}
