{% include header.html %}
<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				{% if page.hero-header %}
				<h1>{{ page.hero-header }}</h1>
				{% endif %}
				<p class="text-muted">
				{{ page.date | date: '%B %d, %Y' }}
</p>
				{% if page.hero-subhead %}
				<p class="hero-text">{{ page.hero-subhead }}</p>
				{% endif %}
				{% if page.hero-p %}
				<p>{{ page.hero-p }}</p>
				{% endif %}
				{% if page.hero-cta %}
				<a class="btn btn-primary btn-lg mt-1" href="/services/strategy-session" id="topStrategySession">{{ page.hero-cta }}</a>
				{% endif %}
				{% if page.cta-eyebrow %}
				<p class="small">{{ page.eyebrow }}</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="container container--wider">
							<figure>
								<img class="img-full-width" src="{{ page.hero-img }}" alt="">
								<div class="row">
									<div class="col-lg-10">
										<figcaption>{{ page.hero-img-caption }}</figcaption>
									</div>
								</div>
							</figure>
						</div>






<!--.section-->
<section class="section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				{% for post in site.categories.blog %}

				<div class="row">
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-sm-6">
				    <div class="card">
				      <div class="card-body">
				        <h5 class="card-title">Special title treatment</h5>
				        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				        <a href="#" class="btn btn-primary">Go somewhere</a>
				      </div>
				    </div>
				  </div>
				</div>



				<div class="card">
				  <img class="card-img-top" src="{{ post.hero-img }}" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
				    <p class="card-text">{{ post.excerpt | strip_html | append: "..." }} <a href="{{ post.url }}">more</a>.</p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
				  </div>
				</div>			</div>
		</div>
				  {% endfor %}
</section>
<!--/.section-->
</div>
<!--modals before footer-->
{% include footer.html %}
