{% include header.html %}
<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				{% if page.hero-header %}
				<h1>{{ page.hero-header }}</h1>
				{% endif %}
				{% if page.hero-subhead %}
				<p class="hero-text">{{ page.hero-subhead }}</p>
				{% endif %}
				{% if page.hero-p %}
				<p>{{ page.hero-p }}</p>
				{% endif %}
				{% if page.hero-cta %}
				<a class="btn btn-primary btn-lg mt-1" href="/about" id="topStrategySession">{{ page.hero-cta }}</a>
				{% endif %}
				{% if page.cta-eyebrow %}
				<p class="small">{{ page.cta-eyebrow }}</p>
				{% endif %}
			</div>
		</div>
	</div>



	<section class="section section--we-get-results">





	<div class="container">



		{% for post in site.categories.blog %}
<a href="{{ post.url }}">
		<div class="card card--hover-shadow card--service">

			<h3 class="mb-2">{{ post.title }}</h3>
			<p class="small text-muted">
				{{ post.date | date: '%B %Y' }}
		</p>
			<p class="excerpt">
				{{ post.excerpt }}
								</div>
</a>
  {% endfor %}



</section>



	</div>

	<!--modals before footer-->
	{% include footer.html %}
	<!--/.footer-->
	<!--Scripts-->
	<!--jQuery-->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<!--Framework-->
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<!--Others-->
	<script src="/js/main.js"></script>
	</body>


		</html>
