{% include header.html %}
<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				{% if page.title %}
				<h1>{{ page.title }}</h1>
				{% endif %}
<div class="row">
	<div class="col-lg-10">

	



			
		

				{% if page.subhead %}
				<p class="lead-small">{{ page.subhead }}</p>
				{% endif %}
				<p class="text-muted">
					{%- assign date_format = site.minima.date_format | default: '%b %-d, %Y' -%}

				{%- if page.last_modified_at -%}
{{ page.date | date: '%B %d, %Y' }} &middot; Last updated {{ page.last_modified_at | date: date_format }}
			{%- else -%}
			{{ page.date | date: '%B %d, %Y' }}

			{%- endif -%}

				</p>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container container--wider">
							<figure>
								<img class="img-full-width" src="{{ page.image }}" alt="">
								<div class="row">
									<div class="col-lg-10">
										<figcaption>{{ page.image-caption }}</figcaption>
									</div>
								</div>
							</figure>
						</div>


<!--.section-->
<section class="section pt-0">
	<div class="container">
		<div class="row">

			<div class="col-lg-10">


				{{ content }}

			</div>


			</div>


</div>
{% include book.html %}

</section>

</div>
<!--/.section-->
</div>
<!--modals before footer-->

<!-- Commentbox plugin -->


{% include footer.html %}
